@{
    ViewBag.Title = "Login Failure";
}
<div class="container body-content">
    <h2 class="text-muted3">@ViewBag.Title.</h2>
    <h2 class="text-muted3">Unsuccessful login with service.</h2>
</div>