@{
    ViewBag.Title = "getOrderInDestination";
}

 <br /><br />
<br /><br />
<div class="container body-content">
    <header class="Con-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-left">
                        <br />
                        <h1 class="tagline">The Best Travel Destination</h1><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr />
    <br />
    <br />


    <script src="http://d3js.org/d3.v3.min.js"></script>


    <script type="text/javascript">
        !function () {
            var gradPie = {};

            var pie = d3.layout.pie().sort(null).value(function (d) { return d.value; });

            createGradients = function (defs, colors, r) {
                var gradient = defs.selectAll('.gradient')
                    .data(colors).enter().append("radialGradient")
                    .attr("id", function (d, i) { return "gradient" + i; })
                    .attr("gradientUnits", "userSpaceOnUse")
                    .attr("cx", "0").attr("cy", "0").attr("r", r).attr("spreadMethod", "pad");

                gradient.append("stop").attr("offset", "0%").attr("stop-color", function (d) { return d; });

                gradient.append("stop").attr("offset", "30%")
                    .attr("stop-color", function (d) { return d; })
                    .attr("stop-opacity", 1);

                gradient.append("stop").attr("offset", "70%")
                    .attr("stop-color", function (d) { return "black"; })
                    .attr("stop-opacity", 1);
            }

            gradPie.draw = function (id, data, cx, cy, r) {
                var gPie = d3.select("#" + id).append("g")
                    .attr("transform", "translate(" + cx + "," + cy + ")");

                createGradients(gPie.append("defs"), data.map(function (d) { return d.color; }), 2.5 * r);

                gPie.selectAll("path").data(pie(data))
                    .enter().append("path").attr("fill", function (d, i) { return "url(#gradient" + i + ")"; })
                    .attr("d", d3.svg.arc().outerRadius(r))
                    .each(function (d) { this._current = d; });


            }

            gradPie.transition = function (id, data, r) {
                function arcTween(a) {
                    var i = d3.interpolate(this._current, a);
                    this._current = i(0);
                    return function (t) { return d3.svg.arc().outerRadius(r)(i(t)); };
                }

                d3.select("#" + id).selectAll("path").data(pie(data))
                    .transition().duration(750).attrTween("d", arcTween);

            }

            this.gradPie = gradPie;
        }();
    </script>

    <canvas id="myCanvas" width="220" height="220" style="border: 1px solid #999999;">
        Your browser does not support the HTML5 canvas tag.

    </canvas>

    <script>
        $.ajax({
            type: 'GET',
            url: '/Order/getOrderInDestination',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (data) {
                var svg = d3.select("body").append("svg").attr("width", 1200).attr("height", 1000);
                svg.append("g").attr("id", "salespie");
                gradPie.draw("salespie", data, 1000, 150, 150);
                var c = document.getElementById("myCanvas");
                var ctx = c.getContext("2d");
                ctx.font = '16pt Arial';
                ctx.fillStyle = 'white';
                for (var i in data) {
                    ctx.strokeText(data[i].label + "\n", 40, 20 + i * 20);
                    ctx.fillStyle = data[i].color;
                    ctx.fillRect(2, 2 + i * 20, 20, 20);
                    ctx.stroke();
                    function changeData() {
                        gradPie.transition("salespie", randomData(), 150);
                    }
                    function randomData() {
                        return salesData.map(function (d) {
                            return { label: d.label, value: 1000 * Math.random(), color: d.color };
                        });
                    }
                }

            }

        });

    </script>
</div>



